<aside id="sidebar">
{% comment %}
    {% for menu in site.galette.menus %}
        {% assign key = menu[0] %}
        {% assign entries = menu[1] %}
        <h3>{% t menus.{{key}} %}</h3>
        <ul>
        {% if key == 'main' %}
            {% assign pages = site.pages | sort: 'weight' %}
            {% for p in pages %}
                {% if p.namespace == 'pages' or p.category == 'pages' %}{% unless p.url contains '/page/' %}
                    {% assign tkeys = p.title | split: "." %}
                    {% assign tkey = tkeys[1] %}

                    <li{% if p.url == page.url or tkey == 'posts' and page.url contains '/page/' %} class="active"{% endif %}>
                        <a href="{{ site.baseurl }}{{ p.url }}">{{ site.translations[site.lang]['pages'][tkey]}}</a>
                    </li>
                {% endunless %}{% endif %}
            {% endfor %}
        {% endif %}
        {% for entry in entries %}
            {% assign tkeys = entry.name | split: "." %}
            {% assign tkey = tkeys[1] %}

            {% assign tdoc_url = site.galette.doc_url | append: '/' | append: site.lang %}
            {% assign murl = entry.url | replace: "DOC_URL", tdoc_url %}

            <li{% if entry.url == page.url %} class="active"{% endif %}>
                <a href="{{ murl }}">{{ site.translations[site.lang]['menus'][tkey]}}</a>
            </li>

        {% endfor %}
        </ul>
    {% endfor %}
{% endcomment %}

    {% comment %} Main menu only. {% endcomment %}
    {% for menu in site.galette.menus %}
        {% assign key = menu[0] %}
        {% if key == 'main' %}
            {% assign entries = menu[1] %}
            <h3 class="mainmnulnk">{% t menus.{{key}} %}</h3>

            <header>
                <a href="#main-menu"
                    id="main-menu-toggle"
                    class="menu-toggle"
                    aria-label="Open main menu">
                    <span class="sr-only">Open main menu</span>
                    <span class="menu-icon" aria-hidden="true">
                        <svg viewBox="0 0 18 15" width="18px" height="15px">
                            <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
                        </svg>
                    </span>
                </a>
                <nav id="main-menu" class="main-menu" aria-label="Main menu">
                    <a href="#main-menu-toggle"
                        id="main-menu-close"
                        class="menu-close"
                        aria-label="Close main menu">
                        <span class="sr-only">Close main menu</span>
                        <span aria-hidden="true">×</span>
                    </a>
                    <ul>
            {% assign pages = site.pages | sort: 'weight' %}
            {% for p in pages %}
                {% if p.namespace == 'pages' or p.category == 'pages' %}{% unless p.url contains '/page/' %}
                    {% assign tkeys = p.title | split: "." %}
                    {% assign tkey = tkeys[1] %}

                    <li{% if p.url == page.url or tkey == 'posts' and (page.url contains '/page/' or page.categories contains 'post') %} class="active"{% endif %}>
                        <a href="{{ site.baseurl }}{{ p.url }}">{{ site.translations[site.lang]['pages'][tkey]}}</a>
                    </li>
                {% endunless %}{% endif %}
            {% endfor %}
            {% for entry in entries %}
                {% assign tkeys = entry.name | split: "." %}
                {% assign tkey = tkeys[1] %}

                {% assign tdoc_url = site.galette.doc_url | append: '/' | append: site.lang %}
                {% assign murl = entry.url | replace: "DOC_URL", tdoc_url %}

                <li{% if entry.url == page.url %} class="active"{% endif %}>
                    <a href="{{ murl }}">{{ site.translations[site.lang]['menus'][tkey]}}</a>
                </li>

            {% endfor %}
                    </ul>
                </nav>
                <a href="#main-menu-toggle"
                    class="backdrop"
                    tabindex="-1"
                    aria-hidden="true"></a>
            </header>
        {% endif %}
    {% endfor %}

    {%comment %} All other menus. {% endcomment %}
    {% for menu in site.galette.menus %}
        {% assign key = menu[0] %}
        {% if key != 'main' %}
            {% assign entries = menu[1] %}
            <h3>{% t menus.{{key}} %}</h3>
            <ul>
            {% if key == 'main' %}
                {% assign pages = site.pages | sort: 'weight' %}
                {% for p in pages %}
                    {% if p.namespace == 'pages' or p.category == 'pages' %}{% unless p.url contains '/page/' %}
                        {% assign tkeys = p.title | split: "." %}
                        {% assign tkey = tkeys[1] %}

                        <li{% if p.url == page.url or tkey == 'posts' and page.url contains '/page/' %} class="active"{% endif %}>
                            <a href="{{ site.baseurl }}{{ p.url }}">{{ site.translations[site.lang]['pages'][tkey]}}</a>
                        </li>
                    {% endunless %}{% endif %}
                {% endfor %}
            {% endif %}
            {% for entry in entries %}
                {% assign tkeys = entry.name | split: "." %}
                {% assign tkey = tkeys[1] %}

                {% assign tdoc_url = site.galette.doc_url | append: '/' | append: site.lang %}
                {% assign murl = entry.url | replace: "DOC_URL", tdoc_url %}

                <li{% if entry.url == page.url %} class="active"{% endif %}>
                    <a href="{{ murl }}">{{ site.translations[site.lang]['menus'][tkey]}}</a>
                </li>

            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}

    <ul class="rss">
        <li>
            <a class="rss-subscribe" href="{{ "/feed.xml" | relative_url }}">
                <svg class="svg-icon orange">
                <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                </svg><span>{% t global.subscribe_rss %}</span>
            </a>
        </li>
    </ul>
</aside>
