/**
# This file is part of Galette.
#
# Galette is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Galette is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar.  If not, see https://www.gnu.org/licenses/
*/
@charset "utf-8";

@font-face {
    font-family: 'PtSans';
    src: url('fonts/ptsans-regular-webfont.woff2') format('woff2'),
         url('fonts/ptsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PtSans';
    src: url('fonts/ptsans-bold-webfont.woff2') format('woff2'),
         url('fonts/ptsans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PtSans';
    src: url('fonts/ptsans-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/ptsans-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'PtSans';
    src: url('fonts/ptsans-italic-webfont.woff2') format('woff2'),
         url('fonts/ptsans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

$base-font-family:  PtSans, Arial, sans-serif !default;
$base-font-size:    14px !default;
$base-font-weight:  400 !default;
$small-font-size:   $base-font-size * 0.875 !default;
$big-font-size:     $base-font-size * 1.125 !default;
$base-line-height:  1.4em !default;

$text-color:        #6b6b6b !default;
$light-text-color:  #fff !default;
$background-color:  #636B70 !default;
$galette-orange:    #ffb619 !default;
$galette-grey:      #e6e6e6 !default;
$action-color:      #279ac4 !default;

$galette-light-orange: lighten($galette-orange, 20%) !default;
$galette-dark-orange:  darken($galette-orange, 15%) !default;
$galette-blue:      #0486b5 !default;

$galette-max-width: 1024px;
$content-width:    800px !default;
$sidebar-width:    200px !default;

$galette-large:     767px !default;
$galette-large-lang: 1080px !default; //lang selector is placed on the side.

// Import partials.
@import
  "galette/normalize",
  "galette/base",
  "galette/layout",
  "galette/toc",
  "galette/mobilemenu"
;

/* Layout
-------------------------------------------------------- */

/*#page {
  //font-size: 1.2em;
}

#blogcustom {
  position: absolute;
  left: .5em;
  top: .5em;

  .navlang {
    ul {
      border: 0;
      margin: 0;
      padding: 0;
    }

    li {
      border: 0;
      margin: 0;
      padding: 0;
      display: inline-block;
      padding: 0;

      a {
        display: inline-block;
        color: white;
        padding: 0 .5em;

        &:hover {
          -moz-box-shadow: 0 0 5px 5px #888;
          -webkit-box-shadow: 0 0 5px 5px #888;
          box-shadow: 0 0 5px 5px #888;
        }
      }
    }
  }
}

#prelude a:hover {
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px #888;
  box-shadow: 0 0 5px 5px #888;
}

#blogcustom {
  z-index: 11;
}

#prelude {
  z-index: 11;
  position: absolute;
  top: .5em;
  right: .5em;
  margin: 0;
  padding: 0;
  color: #ededed;

  a {
    color: #ededed;
    text-decoration: none;
  }
}

#search fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#q {
  border: 1px solid #bfbfbf;
  width: 150px;
  color: $text-color;
}

#search .submit {
  padding: 0;
  border: 1px solid #fff;
  background: none;
  font-weight: bold;
  color: $text-color;
  text-transform: uppercase;

  &:hover {
    background: #9ac528;
    color: #fff;
    border: 1px solid #9ac528;
  }
}

#topnav {
  ul {
    padding: 4px 0;
  }

  li {
    display: inline;
    border-bottom: none;
  }
}

#sidebar {
  .syndicate {
    ul {
      border-top: none;
    }

    li {
      border-bottom: none;
    }
  }

  .categories li.category-current {
    font-weight: bold;

    li {
      font-weight: normal;
    }
  }

  .tags ul {
    border-top: none;
    font-size: 1.1em;
    text-align: justify;

    li {
      display: inline;
      background: none;
      margin: 0;
      padding: 0;
      border: none;
      //line-height: 1.8em;
    }
  }
}

.tag0 {
  font-size: 75%;
}

.tag10 {
  font-size: 80%;
}

.tag20 {
  font-size: 90%;
}

.tag30 {
  font-size: 100%;
}

.tag40 {
  font-size: 110%;
}

.tag50 {
  font-size: 120%;
}

.tag60 {
  font-size: 140%;
}

.tag70 {
  font-size: 150%;
}

.tag80 {
  font-size: 160%;
}

.tag90 {
  font-size: 170%;
}

.tag100 {
  font-size: 180%;
}

ul.tags {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  font-size: 1.3em;
  text-align: justify;

  li {
    display: inline;
    margin: 0;
    padding: 0;
    //line-height: 1.8em;
  }
}*/

/* Main content styles
-------------------------------------------------------- */

/*#subcategories {
  background: #fbfbfb;
  border-color: #BFBFBF;
  border-style: solid;
  border-width: 1px 0;
  margin: 1em 0;
  padding: 0.5em;

  h3 {
    margin: 0;
  }

  ul {
    margin: 0.5em 0 0 0;
    padding: 0 0 0 20px;
    //line-height: 1.4;
  }
}*/

.day-date {
  /*visibility: hidden;
  display: none;*/

  /*font-size: 1em;
  margin: 0 0 0.5em;
  text-align: right;
  color: $action-color;*/
}

/*.post {
  margin: 0 0 2em 0;
}

.post-title {
  border-bottom: 1px solid $galette-orange;
  color: $background-color;

  a {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.post-info, .page-info {
  margin: 0;
  font-size: .9em;
  font-style: italic;
  margin-top: .2em;
  text-align: right;
}

.post-tags {
  list-style: none;
  margin: 1em 0 1em;
  padding: 3px 0;

  li {
    display: inline;
    margin-right: 8px;
    padding: 5px 0 5px 22px;
    background: transparent url(img/tag.png) no-repeat 0 70%;

    a {
      color: $text-color;
    }
  }
}

.post-info-co {
  clear: left;
  padding: 3px 0 3px 0.5em;
  border-width: 1px 0;
  border-style: solid;
  border-color: #bfbfbf;
  background: #fbfbfb;

  a {
    color: #2b2b2b;
    padding: 2px 10px 2px 18px;
  }
}

.comment_count {
  background: transparent url(img/comment.png) no-repeat 0 50%;
}

.ping_count {
  background: transparent url(img/trackback.png) no-repeat 0 50%;
}

.attach_count {
  background: transparent url(img/attach.png) no-repeat 0 50%;
}

.read-it {
  font-weight: bold;
  clear: left;
}

a.feed {
  background: transparent url(img/feed.png) no-repeat 0 0.25em;
  padding: 5px 0 5px 22px;
}

div:not(#news) > .post h2.post-title {
  margin-top: .5em;
}

.pagination a {
  display: inline-block;
  border: 1px solid #98dbcc;
  padding: .75em 1em;
  background: #f6f5f4;
  color: $background-color;

  &:hover {
    background: #fff;
    text-decoration: none;
  }
}

[class^="nav-button"] {
  display: none;
}*/

/* Post content
-------------------------------------------------------- */

/*.post-content, .post-excerpt, #comments dd, #pings dd, dd.comment-preview {
  //line-height: 1.4em;
  text-align: justify;
}

.post-content acronym, .post-excerpt acronym {
  cursor: help;
  border-bottom: 1px dotted #666;
}*/

/*.post-content ul, .post-excerpt ul, .post-content ol, .post-excerpt ol {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 15px;
}

.post-content li, .post-excerpt li {
  margin: 0;
  padding: 0;
}

.post-content blockquote, .post-excerpt blockquote {
  margin: 4px 0 4px 0;
  padding: 0 5px;
  border-left: 4px solid #bfbfbf;
}

#attachments {
  ul {
    list-style: none;
    margin: 0;
    padding: 4px 0;
  }

  li {
    margin: 0 0 0.6em;
    padding: 2px 10px 2px 18px;
    background: transparent url(img/attach.png) no-repeat 0 50%;

    object {
      display: inline;
      margin: 0;
      padding: 0;
      vertical-align: bottom;
    }
  }
}*/

/* Comments and trackbacks
-------------------------------------------------------- */

/*#comments {
  clear: both;

  h3 {
    border-width: 1px 0;
    border-style: solid;
    border-color: #bfbfbf;
    background: #fbfbfb;
    padding: 5px;
    margin: 20px 0 8px 0;
  }
}

#comment-form h3, #pings h3 {
  border-width: 1px 0;
  border-style: solid;
  border-color: #bfbfbf;
  background: #fbfbfb;
  padding: 5px;
  margin: 20px 0 8px 0;
}

#comments {
  dt {
    margin: 1.5em 0 0 0;
    padding: 5px 0 16px 0;
    background: transparent url(img/comment-t.png) no-repeat bottom left;

    &.me {
      background-image: url(img/commentmy-t.png);
    }
  }

  a.comment-number {
    display: block;
    float: left;
    width: 30px;
    margin-right: 40px;
    font-size: 1.2em;
  }

  dd {
    margin: 0;
    padding: 1px 1em 0.5em 1em;
    background: #fffad1 url(img/comment-b.png) no-repeat bottom left;
    color: $text-color;

    &.me {
      background-color: #f5f9d9;
      color: $text-color;
      background-image: url(img/commentmy-b.png);
    }

    p {
      margin: 0.5em 0;
      //line-height: 1.5em;
    }
  }
}

.error {
  margin: 20px 0 0;
  padding: 10px 5px;
  background: #ffcccc;
  border: 2px solid red;
  font-weight: bold;
}*/

/* Forms
-------------------------------------------------------- */

/*#comment-form {
  padding-top: 10px;

  fieldset {
    border: none;

    p {
      padding: 5px 0;

      &.field {
        padding: 5px 0;
        width: auto;
        margin: 0;
        clear: left;
      }
    }
  }

  p {
    &.form-help {
      width: 60%;
      margin: 0 0 0 30%;
      font-style: italic;
    }

    label {
      width: auto;
    }

    &.field label {
      font-weight: bold;
      display: block;
      padding: 0 1% 0 0;
      width: 29%;
      float: left;
      text-align: right;
    }
  }

  input, textarea {
    font: 1em "Lucida Grande",Arial,sans-serif;
    color: $action-color;
    border: 1px solid #cdcdcd;
    padding: 1px 2px;
    width: 68%;
  }

  p.remember {
    margin: 0;
  }

  input {
    &#c_remember {
      width: auto;
      border: 0;
      margin: 0 5px 0 30%;
    }

    &.preview {
      margin-left: 30%;
      width: auto;
      color: $action-color;
      background: #fff;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      border: 1px solid #fff;
    }

    &.submit {
      width: auto;
      color: $action-color;
      background: #fff;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      border: 1px solid #fff;
    }

    &.preview:hover, &.submit:hover {
      background: #6d8824;
      color: #fff;
      border: 1px solid #6d8824;
    }
  }
}

div.admonition {
  color: black;
  padding: 1em;
  margin: .5em auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  p {
    margin: 0;
    text-align: center;
  }
}

p.admonition-title {
  font-weight: bold;
  font-size: 1.3em;
}

div {
  &.admonition-a-faire {
    background-color: rgba(255, 255, 0, 0.5);
  }

  &.note {
    background-color: rgba(248, 195, 99, 0.5);
  }

  &.warning {
    background-color: rgba(255, 0, 0, 0.5);
  }
}

.warning .admonition-title, .note .admonition-title, .admonition-a-faire .admonition-title {
  background-position: left top, right top;
  background-repeat: no-repeat;
  padding: .3em 0;
}

.warning .admonition-title {
  background-image: url(img/warning.png), url(img/warning.png);
}

.note .admonition-title {
  background-image: url(images/info.png), url(images/info.png);
}

.admonition-a-faire .admonition-title {
  background-image: url(images/todo.png), url(images/todo.png);
}

#paypal {
  text-align: center;
}*/

/** Mobile devices */
@media (max-width: $galette-large) {
  /*[class^="nav-button"] {
    display: block;
    width: 75px;
    height: 60px;
    z-index: 200;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 15px;
    font-size: 32.5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }

  a {
    &.nav-button-close, &.nav-button-open {
      color: #fff;
      text-decoration: none;
    }
  }

  here's goes the push left effect

  div#page:target #main {
    same as #content margin-left 
    transform: translateX(230px);
  }

  .nav-button-close, div#page:target .nav-button-open {
    display: none;
  }

  .nav-button-open, div#page:target .nav-button-close {
    display: block;
  }

  #main {
    margin-right: 0;
  }

  #sidebar {
    float: none;
    position: absolute;
    padding-top: 37px;
  }

  #blogcustom {
    left: auto;
    right: .5em;
  }

  #prelude {
    display: none;
  }*/

}

/*@media (max-width: 979px) {
  #wrapper {
    width: auto;
  }

  #top {
    height: 100px;

    h1 {
      position: relative;
      top: 30px;
    }
  }

  #wrapper {
    border-radius: 0;
  }

  #footer {
    margin-top: .5em;
  }

  #content {
    padding: 0 25px;
  }

  .post-content p > img {
    float: none !important;
    margin: 0 auto !important;
    max-width: 100%;
    height: auto;
  }
}*/

/*@media screen and (max-width: 767px) and (orientation: landscape) {
  body {
    -webkit-text-size-adjust: 70%;
  }
}*/
