/**
# This file is part of Galette.
#
# Galette is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Galette is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar.  If not, see https://www.gnu.org/licenses/
*/

body {
  margin: 0;
  padding: 0;
  background: $background-color url(img/bg.png) top left no-repeat;

  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

img {
    max-width:500px;
}

a {
  color: $action-color;
  text-decoration: none;
  cursor: hand;

  &:hover, &:active, &:focus {
    color: #708FAB;
    text-decoration: underline;
  }

  img {
    border: none;
  }
}

pre {
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  text-align: left;
}

sup {
  font-size: $small-font-size;
  line-height: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.social-media-list a {
    margin: 0 .5em;
}
.social-media-list svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    padding-right: .2em
}

/** Galette BOX */
aside#galette {
    z-index: 500;
    position:absolute;
    right:20px;
    top:20px;
    background:rgba(#000, 0.1);
    border-radius:5px;
    padding: .5em;

  ul {
    margin:0;
    padding:0;
    list-style:none;
    height:38px;
    padding:1px 0;
    background:$galette-orange;
    background: linear_gradient(#77B9FB, #3782CD);
    border-radius:5px;
    box-shadow: inset rgba(#fff, 0.45) 0 1px 0, inset rgba(#000, 0.2) 0 -1px 0;
    width:auto;

    li {
      float:left;
      border-right:1px solid $galette-dark-orange;
      border-left:1px solid $galette-light-orange;
      height:38px;
      padding: 0 1em;

      &:hover {
        background-color: $galette-dark-orange;
      }
    }

    li:first-child {
        border-left: none;
    }

    li:last-child {
      border-right:none;
    }

    a {
      line-height:1;
      font-size:12px;
      color:#fff;
      color:rgba(#fff, 0.8);
      display:block;
      text-align:center;
      font-weight:400;
      padding-top:6px;
      height:40px;
      /*text-shadow:rgba(#000, 0.4) 0 -1px 0;*/
      text-decoration: none;

      strong {
        font-size:16px;
        display:block;
        -webkit-font-smoothing:antialiased;
      }
    }
  }
}
