/**
# This file is part of Galette.
#
# Galette is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Galette is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar.  If not, see https://www.gnu.org/licenses/
*/

/** main header */
body > header:first-child {
  position: relative;
  height: 100px;
  width: auto;
  padding: 0;
  margin: 0 auto;
  z-index: 10;

  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;

    a {
      color: $light-text-color;;
      text-decoration: none;
      display: inline-block;
      width: 208px;
      height: 100px;
      background: url(img/galette.png) top left no-repeat;
      text-indent: 210px;
      overflow: hidden;
    }
  }
}

/** Page contents */
body > section.wrapper {
    /*width: 980px;*/
    position: relative;
    overflow: hidden;
    margin: 0 auto 0 auto;
    background: #fff;
    border-radius: 6px;
    padding-top: 2em;
    z-index: 2; //tof fix galettebox shadow
}

body > section #content {
    width: $content-width;
}

section#content {
    /*border-right: 1px solid #bfbfbf;*/
    /*border-right: 1px red dotted;*/
    margin-right: $sidebar-width;
    position: relative;
    /*background: #fff;*/
    transform: translateX(0) translateZ(0);
    transition: transform .2s;
    will-change: transform;
    min-height: 600px;
    padding: 0 1em;

    p {
        text-align: justify;
    }

    .content a {
        text-decoration: underline;
    }

    h1 {
        display: inline-block;
        border-bottom: 1px solid $galette-orange;
        line-height: 1.2em;
        margin: .4em 0;
    }
}

aside#sidebar {
  margin-top: 4em;
  margin-left: 3em;
  background: #fff;
  width: $sidebar-width;
  float: right;

  h2 {
    margin: 0;
    text-shadow: 1px 1px 1px rgba(242, 161, 4, 0.5);

    /*border-bottom: 1px #f2a104 solid;*/
    border-bottom: 1px $background-color dotted;
    color: $background-color;
  }

  h3 {
    margin: 1em 0 0.5em;
    color: #6b6b6b; /* $action-color; */
  }

  div div {
    margin-bottom: 1.5em;
  }

  ul {
    list-style: none;
    margin: 0em 0;
    padding: 0;
  }

  li {
    display: block;
    margin: 0;

    a {
      color: $text-color;
      display: block;
      text-decoration: none;
      padding: .2em .3em;

      &:hover, &:focus, &:active {
        color: $action-color;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  li.active a {
    border-bottom: 1px solid $galette-orange;
  }

  ul ul {
    list-style: disc;
    margin: 0;
    padding: 0 0 0 15px;
    border: none;
  }

  li li {
    display: list-item;
    margin: 0.5em 0 0 0;
    padding: 0 0;
    border: none;
  }

  .simple-menu li.li-last {
    background: url(img/icon-save.png) no-repeat 0 50%;
    padding-left: 20px;
  }
}

/** main footer */
body > footer:last-child {
  color: rgba(255, 255, 255, 0.7);

  a {
    color: rgba(255, 255, 255, 0.7);
    padding: .1em .3em;

    &:hover {
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.2);
    }
  }

  clear: both;

  width: auto;
  margin: 0 auto;
  padding: 1em 2em;
  text-align: center;
}
