<pre>
&lt;trashy[m]&gt; gniarf, me manque une trad : "**donate** to support" => "**donner** en soutien" ?
&lt;GruiicK_&gt; "pour soutenir", plutôt, si ça rentre
&lt;GruiicK_&gt; en un seul mot, j'ai "parrainer"
&lt;GruiicK_&gt; 3,4,5,8,100, 1
&lt;GruiicK_&gt; tic-toc-tic-toc-tic-toc
&lt;GruiicK_&gt; dong
&lt;GruiicK_&gt; 100+8 = 108
&lt;GruiicK_&gt; 108+5 = 113
&lt;trashy[m]&gt; t'as respiré de l'échappement de diesel pour rentrer ?
&lt;GruiicK_&gt; 113+1 = 114
&lt;trashy[m]&gt; 🤣🤣🤣
&lt;GruiicK_&gt; 114/3 = 38
&lt;GruiicK_&gt; 38+4 = 42
&lt;GruiicK_&gt; le compte est bon
&lt;trashy[m]&gt; 42! voilà!
&lt;trashy[m]&gt; :)
&lt;GruiicK_&gt; (https://www.langue-au-chat.fr/tricher-au-compte-est-bon/)
</pre>

<pre>
* trashy_ en panne d'inspi pour une annonce des 10 ans :'''''(
&lt;GruiicK&gt; pique un slogan à monoprix
&lt;GruiicK&gt; ou un martine cover generator
&lt;GruiicK&gt; elle a +/- tout le temps 10 ans, martine, non ?
&lt;bohwaz_&gt; lol
&lt;GruiicK&gt; moi, j'aime bien l'équipe marketing monoprix
&lt;GruiicK&gt; galette des rois : patisserie à suspense
&lt;GruiicK&gt; beurre doux : gouté et approuvé par le petit chaperon rouge
&lt;GruiicK&gt; &quot;tout est dans le coup de roquette&quot; (paquet de salade fragmentée, roquette)
&lt;GruiicK&gt; batonnets de crabe : une découverte majeure : le poisson-frite !
</pre>

<pre>
&lt;GruiicK&gt; bon, re-init passwd dc = ok
&lt;GruiicK&gt; et entre temps, j'ai oublié la modif que je voulais faire...
&lt;GruiicK&gt; deux neurones
&lt;trashy_&gt; mdr
</pre>

<pre>
&lt;GruiicK&gt; po grave, je brode avec ce qui existe sur le site de galette :)
* trashy savait pas que GruiicK faisait de la broderie...
&lt;trashy&gt; tu fais ça le dimanche, pour passer le temps ?
&lt;trashy&gt; et tu saurais en parler en public ? au cours d'un dîner par exemple ?
</pre>

<pre>
&lt;trashy&gt; ça va donner plus de visibilité aux fortunes, et ça, c'est hyper cool : on va pouvoir dire plein d'âneries :o]
* trashy va prendre son calmant.
</pre>

<pre>
&lt;hertay&gt; Trashy, dans https://galette.eu c'est toujours la 0755 qui est en téléchargement (lien) ;-)
&lt;trashy_&gt; c'est la faute à GruiicK ! :p
&lt;GruiicK&gt; mééé heu !!
&lt;trashy_&gt; :o)
&lt;GruiicK&gt; de toute façon, les codes numériques chown, c'est source d'erreur, il faut utiliser la convention ugo.
&lt;GruiicK&gt; &quot;C'est qui ugo ?&quot;
</pre>

<pre>
&lt;trashy&gt; un mec a édité une page du wiki de l'april en novembre pour spécifier que Galette n'était plus développé...
&lt;trashy&gt; je vais lui faire bouffer le listing des diffs que j'ai commité en novembre tiens ; ça lui apprendra. 
</pre>

<pre>
&lt;trashy_&gt; j'ai trouvé un slogan pour Galette : « Il y a un champ dynamique pour cela. » © :D
&lt;GruiicK&gt; bouahahahahaha
&lt;GruiicK&gt; adopté !
&lt;trashy_&gt; ^_^
</pre>

<pre>
--&gt; LaoTseu (~alex@home.laotseu.org) has joined #galette
&lt;LaoTseu&gt; huhu ca existe :)
&lt;GruiicK&gt; LaoTseu: tu veux coder sur galette aussi ?
&lt;LaoTseu&gt; GruiicK: ouais on m'a dit que je pouvais devenir riche et celebre :)
&lt;stephs&gt; :))
&lt;GruiicK&gt; célèbre, ouais, riche, c'est pas prouvé
&lt;LaoTseu&gt; mais je pense qu'on s'est encore foutu de ma gueule
&lt;stephs&gt; GruiicK: sisi, avec des vierges à gros seins et tout et tout
&lt;LaoTseu&gt; :D
&lt;GruiicK&gt; hop, fortune
&lt;stephs&gt; :)
</pre>

<pre>
&lt;-- Deelight has quit (Ping timeout: 480 seconds)
&lt;-- stephs has quit (Ping timeout: 480 seconds)
&lt;GruiicK&gt; hé ben voilà, comme d'hab', j'suis tout seul face à la meute...
</pre>

<pre>
&lt;Deelight&gt; je me penche sur la modif sur la table des preferences
&lt;stephS&gt; penche toi pas trop non plus
&lt;stephS&gt; &lt;/je fais des blagues lourdes et j'assume&gt;
&lt;GruiicK&gt; je log les fortunes et j'assume.
&lt;Deelight&gt; attention, j'assomme.
</pre>

<pre>
&lt;GruiicK&gt; Deelight: faudrait un lien direct vers la demo de galette sur la
          page d'accueil de gna
&lt;-- Deelight has quit (Read error: No route to host)
&lt;GruiicK&gt; forcément, il se planque, le lâche :)
&lt;stephS&gt; Deelight: allez reviens il disait ca pour rire
</pre>

<pre>
&lt;GruiicK&gt; ben ça marche qd mm
&lt;stephS&gt; vivi, je dis juste au cas où zavions pas remarquer
&lt;GruiicK&gt; zavions vu
&lt;stephS&gt; zavions super fort alors :)
&lt;GruiicK&gt; et zavions supersonique
</pre>

<pre>
&lt;GruiicK&gt; j'essaie
&lt;Deelight&gt; :
&lt;Deelight&gt; )
&lt;Deelight&gt; (smiley ikea)
&lt;GruiicK&gt; ah, ikéa, je gère, ça donne ça : &quot;:)&quot;
&lt;GruiicK&gt; mais y'a pas les outils livrés, t'aura droit à une réclamation
&lt;Deelight&gt; :)
&lt;Deelight&gt; attends, la celebre clé alène
&lt;Deelight&gt;  ____|
&lt;Deelight&gt; |
&lt;Deelight&gt; voilà
&lt;GruiicK&gt; merci.
&lt;Deelight&gt; | | | | |
&lt;Deelight&gt; (les ptits machins en bois a mettre dans les ptits trous)
&lt;stephS&gt; tous des drogués.
&lt;GruiicK&gt; alleï, inauguration du fichier de fortune
&lt;Deelight&gt; :)
&lt;stephS&gt; ouiii :)
</pre>
