---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{% t page.title %}</h1>
  {%- endif -%}

  {{ content }}

  {% comment %}
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}
  {% endcomment %}

    <!-- This loops through the paginated posts -->
    {{ paginator | inspect }}
    {% for post in paginator.posts %}
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="content">
        {{ post.content }}
      </div>
    {% endfor %}
</div>
