---
layout: default
---
<div class="posts">
  {%- if page.title -%}
    {%- if page.autogen != nil %}
        {% assign parts = page.title | split: ' - ' %}
        <h1 class="page-heading">{% t parts[0] %} - {{ parts[1] | join: ' - ' }}</h1>
    {%- else -%}
        <h1 class="page-heading">{% t page.title %}</h1>
    {%- endif -%}
  {%- endif -%}

    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="content">
        {{ post.content }}
      </div>
    {% endfor %}

    {%- include pagination.html -%}
</div>
