---
layout: default
permalink: /post/:year/:month/:day/:title:output_ext
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
{% if page.next or page.previous %}
    <nav class="posts-navigation">
    {%- if page.next -%}
        <!-- Link previous post -->
        <a href="{{ site.baseurl }}{{ page.next.url }}" title="{% t global.prevpost %}">« {{ page.next.title }}</a>
    {%- endif -%}

    {%- if page.previous -%}
        {%- if page.next %} - {% endif -%}
        <!-- Link next post -->
        <a href="{{ site.baseurl }}{{ page.previous.url }}" title="{% t global.nextpost %}">{{ page.previous.title }} »</a>
    {%- endif -%}
    </nav>
{% endif %}


  <header class="post-header">
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
