{{/* Open Graph required properties */}}
<meta property="og:title" content="
    {{- if .IsHome -}}
        {{ i18n "global.home_title_seo" }}
    {{- else -}}
        {{ .Title }}
    {{- end }} | {{ .Site.Title }}">
<meta property="og:type" content="
    {{- if (and .IsPage (eq .Type "posts")) -}}
        article
    {{- else -}}
        website
    {{- end -}}
">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ absURL (.Params.image | default "assets/images/og_image.jpg") }}">

{{/* Open Graph optional properties */}}
<meta property="og:description" content="{{ .Description }}">
<meta property="og:locale" content="{{ .Lang }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ if (and .IsPage (eq .Type "posts")) }}
<meta property="article:author" content="{{ .Site.Params.author }}">
    {{ range .Params.tags }}
        {{- $tagKey := printf "tags.%s" . -}}
        {{- $translated := i18n $tagKey -}}
<meta property="article:tag" content="{{ if $translated }}{{ $translated }}{{ else }}{{ . }}{{ end }}">
    {{ end }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05" }}">
    {{ if not .Lastmod.IsZero }}
<meta property="article:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05" }}">
    {{ end }}
{{ else }}
    {{- if not .Lastmod.IsZero -}}
<meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05" }}">
    {{- end -}}
{{ end }}
